body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

span {
    /* text-decoration: line-through; */
    color: lightslategray;
    font-size: 36px;
    margin: 10px;

}

.letters {
    display: flex;
    flex-wrap: wrap;
  }

.high-score {
    font-size: 72px;
    margin: 10px;
    color: green;
}

.medium-score {
    font-size: 72px;
    margin: 10px;
    color: orange;
}

.low-score {
    font-size: 72px;
    margin: 10px;
    color: red;
}

.clickable {
    text-decoration: none;
    color: #1e3799;
    cursor: pointer;
}

.solution-char {
    text-decoration: none;
    color: black;
}

.solution-hint {
    font-size: 24px;
    color: blueviolet;
    font-style: italic;
}