body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

span {
    text-decoration: line-through;
    color: lightslategray;
    font-size: 72px;
    margin: 10px;

}

.letters {
    display: flex;
    flex-wrap: wrap;
  }

.score {
    font-size: 72px;
    margin: 10px;
}

.clickable {
    text-decoration: none;
    color: #1e3799;
    cursor: pointer;
}

.solution-char {
    text-decoration: none;
    color: black;
}
